# Assignment 4
## Task 1: Write a function to find moving average in an array over a window:</BR>Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [225]:
def movavg(arr,window) :
    tmplst=[]
    arlen=len(arr)
    for i in range(arlen-window+1):
        sumarr = 0
        for j in range(i,window+i):
            sumarr+=arr[j]/window
        tmplst.append(int(sumarr))
    return tmplst
        
arr=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
window=3
result = []
result = movavg(arr,window)
print(result)

print(movavg(arr,window=10))

[5, 4, 5, 6, 9, 28, 49, 72, 84, 93, 116]
[26, 36, 45, 59]

## Task 2

### 2.1: How-to-count-distance-to-the-previous-zero </br> For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)

In [226]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
counter=0
df['Y']=df.loc[df.X == 0]

for i in range(int(df.X.describe()['count'])) :
    if str(df['Y'][i]) == 'nan' :
        counter+=1
    else:
        counter=0
    df.loc[i,'Y'] = counter

print(df)

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

### 2.2 : Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers.

In [227]:
import pandas as pd
import numpy as np
import datetime as dtm

dbd=pd.date_range('2015-01-01', '2015-12-31', freq='B')
dser=pd.Series(np.random.randn(len(dbd)), index=dbd)
print(dser)

2015-01-01   -1.160013
2015-01-02    0.395452
2015-01-05   -0.067160
2015-01-06   -0.470135
2015-01-07    1.158491
2015-01-08   -0.383241
2015-01-09   -0.003285
2015-01-12   -0.340462
2015-01-13   -0.111290
2015-01-14   -1.137758
2015-01-15   -0.411326
2015-01-16   -0.446784
2015-01-19   -0.499738
2015-01-20    1.790381
2015-01-21    2.047204
2015-01-22    0.990741
2015-01-23   -0.527198
2015-01-26    0.205518
2015-01-27    1.429175
2015-01-28    0.121593
2015-01-29    1.606634
2015-01-30   -0.570396
2015-02-02   -0.125967
2015-02-03    0.839838
2015-02-04    0.058867
2015-02-05   -1.517734
2015-02-06    0.738882
2015-02-09    0.688212
2015-02-10    0.428444
2015-02-11   -0.097494
                ...
2015-11-20    0.353462
2015-11-23   -2.008867
2015-11-24    0.312675
2015-11-25    1.922157
2015-11-26   -1.269591
2015-11-27    0.896640
2015-11-30   -0.924616
2015-12-01   -0.339949
2015-12-02   -1.796664
2015-12-03   -1.580486
2015-12-04   -0.979446
2015-12-07   -1.113723
2015-12-08    0.262540
2015-12-09    1.370934
2015-12-10    1.618149
2015-12-11   -1.075160
2015-12-14   -0.543556
2015-12-15   -0.642022
2015-12-16   -0.805214
2015-12-17    0.321964
2015-12-18   -0.433326
2015-12-21   -0.328723
2015-12-22    1.363409
2015-12-23    1.248712
2015-12-24    1.979489
2015-12-25   -0.039533
2015-12-28   -0.551896
2015-12-29   -1.124461
2015-12-30    0.963260
2015-12-31   -0.170822
Freq: B, Length: 261, dtype: float64

### 2.3 : Find the sum of the values in s for every Wednesday

In [228]:
sum=0
for i in range(len(dbd)) :
    if dbd[i].day_name() == 'Wednesday' :
        sum+=dser[i]
sum

3.7420627078967903

### 2.4 : Average for each calendar month

In [229]:
dser.resample('M').mean()

2015-01-31    0.164382
2015-02-28    0.330133
2015-03-31    0.786724
2015-04-30    0.040924
2015-05-31   -0.162347
2015-06-30    0.200586
2015-07-31    0.345686
2015-08-31   -0.124216
2015-09-30   -0.309472
2015-10-31   -0.107650
2015-11-30   -0.332097
2015-12-31   -0.104197
Freq: M, dtype: float64

### 2.5 : For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [230]:
dbd1=pd.date_range('2015-01-01', '2015-12-31', freq='D')
dbd2=pd.date_range('2015-01-01', '2015-12-31', freq='Q')
dtf=pd.Series(np.random.randn(len(dbd1)), index=dbd1)
dtf

2015-01-01    0.103462
2015-01-02   -1.221265
2015-01-03    0.138582
2015-01-04   -0.330886
2015-01-05   -1.141420
2015-01-06   -0.703112
2015-01-07    0.114442
2015-01-08    0.097126
2015-01-09    0.205725
2015-01-10    0.926922
2015-01-11   -1.394854
2015-01-12   -1.966785
2015-01-13    1.006076
2015-01-14   -0.315921
2015-01-15    0.465533
2015-01-16    1.331891
2015-01-17   -1.749306
2015-01-18   -0.197406
2015-01-19    0.811300
2015-01-20    1.234373
2015-01-21    1.193280
2015-01-22   -1.263376
2015-01-23   -0.044252
2015-01-24    0.404374
2015-01-25   -0.674416
2015-01-26    0.239362
2015-01-27   -0.992460
2015-01-28    0.423486
2015-01-29   -1.287581
2015-01-30    0.482673
                ...
2015-12-02    1.151364
2015-12-03    1.597848
2015-12-04   -0.026623
2015-12-05   -0.646734
2015-12-06    0.723855
2015-12-07   -0.421720
2015-12-08    0.658928
2015-12-09    0.663437
2015-12-10    0.853919
2015-12-11   -0.049807
2015-12-12   -0.952241
2015-12-13    1.399940
2015-12-14   -1.114924
2015-12-15    0.112704
2015-12-16    0.050747
2015-12-17   -0.219340
2015-12-18   -1.474975
2015-12-19   -1.063728
2015-12-20   -1.988110
2015-12-21   -1.302489
2015-12-22    0.968169
2015-12-23    0.058529
2015-12-24    0.386107
2015-12-25   -0.462580
2015-12-26   -1.443720
2015-12-27   -1.392750
2015-12-28   -0.201063
2015-12-29   -1.004471
2015-12-30    0.293336
2015-12-31   -0.421781
Freq: D, Length: 365, dtype: float64

In [231]:
dtq=dtf.resample('Q').max()
dtq

2015-03-31    1.891664
2015-06-30    2.569665
2015-09-30    2.385390
2015-12-31    2.320418
Freq: Q-DEC, dtype: float64

In [232]:
for i in dbd2 :
    for j in dbd1 :
        if float(dtq[i]) == float(dtf[j]) :
            print(j)

2015-02-28 00:00:00
2015-04-25 00:00:00
2015-07-30 00:00:00
2015-10-05 00:00:00